#imgperfil    {
    border-radius: 50%;
    width: max(80px, 7.2vw);
    padding: 1%;
}

.iconlinkedin{
	width: 20px;
}

.icongithub{
	width: 20px;
}

.imgperfil
{
        opacity:0.5;

}

.imgperfil:hover
{
    opacity:1;
}
/*
border: black 1px solid;
*/
.perfilpessoal{
	background: rgb(231, 215, 231);
	width: 90%;
	padding: 1%;
	margin: 2%;
}

.perfilpessoal:hover {
  padding: 2%;
  background: #ECCAE5;
  margin: 1%;
}

.perfilpessoal .conteudoperfil{
	display: inline-block;
}

#textoperfil{
	text-align: justify;
	width: 80%
}

a{ 
 text-decoration:none; 
} 






