#form {
	display:grid;
	grid-template-columns:1fr;
	grid-row-gap:0.5em;
}

@media (min-width:400px) {
	#form {
		grid-template-columns:1fr 3fr;
	}
}

#form-container {
	padding-top: 5em;
}

@media (min-width:800px) {
	#form-container {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}

#field_content {
	height:10em;
}

select, input {
	height:2em;
}

input, select, textarea, bottom {
	border:0;
	border-radius:0.5em;
	padding:0.5em;
}

.buttonstyle{
    background: rgb(47, 3, 70);
    border-radius: 6px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

select {
	padding: 0;
}

#form-display-name,
#form-display-to,
#form-display-error,
#form-display-label {
   line-height: inherit;
   margin-top: inherit;
}
