*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira Extra Condensed', sans-serif;
}

html,body{
    height: 100%;
}

.parent{
    display: flex;
}

.sidebar{
    width: 17%;
    height: 100%;
    position: fixed;
    background-color: blueviolet;

}

.sidebar-pos{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.img-sidebar{
    position: relative;
    text-align: center;
    padding: 5%;
}
.menu{
    position: relative;
    margin: 50px 0;
    text-align: center;
}
.menu a{
    position: relative;
    color: white;
    opacity: 0.4;
    font-size: 25px;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
}
.menu a.selected{
    opacity: 1;
}
.content{
    position: absolute;
    left: 17%;
    width: 83%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    background:rgb(231, 215, 231);
    overflow:auto;
    padding: 0 3%;
}

}
section.descricao h2 > span{
    color: rgb(47, 3, 70);
    font-size: 30px;
    margin-bottom: 30%;
    margin-top: 10%;
}
/* Saiba mais CSS */
#saibaMais{
    font-family:  'Saira Extra Condensed', sans-serif;
    display: flex;
    justify-content:center;  
    text-shadow: gray 50px 165px 50px;
    margin-top: 20px;
}


.img-noticia{
    position:relative;
    text-align:center;
    padding: 10%;
    width: 50%;
    margin-left: 20%;
    margin-bottom: 10px;/
    margin-right: 20;
    
}
#noticias01{
    display: flex;
    justify-content:space-between;
    margin-top: 10%;
}

h2{
    text-align: center; 
    font-size: 55px; 
    margin-top: 5%; 
    border-right: 2px solid rgba(24, 23, 23, 0.75);
    
}
/*piscar cursor*/

.typing-animation{
    animation: blinkCursor 500ms infinite normal, typing 4s steps(40) 1s normal;
}

@keyframes typing{
    from{
      width: 0;
    }
    to{
        width: 18em;
    }
}

@keyframes blinkCursor{
    from{
        border-right-color: rgba(24, 23, 23, 0.75);
    }
    to{
        border-right-color: transparent;
    }
}
.line{
    border-right:2px solid, rgba(255, 255, 255, 0.75);
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
}

/*piscar cursor*/

/*CSS parte sobre 
